<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
  <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">


  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body onload="checkIfLoggedIn()">

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img th:src="@{/assets/img/logo.png}"alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                  <form th:action="@{/login}" method="post" class="row g-3 needs-validation">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <a href="/users/add">Create an account</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a th:href="@{https://bootstrapmade.com/}">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

  <script>
    function checkIfLoggedIn() {
        var loggedIn = false;
        // Verificar si el usuario ha iniciado sesión
        // Aquí podrías usar una variable global o un atributo de sesión
        // en tu aplicación para verificar si el usuario ha iniciado sesión
        // y establecer loggedIn en true si es así
        // Ejemplo:
        if ("${pageContext.request.userPrincipal?.name}" != null) {
            loggedIn = true;
        }
        // Establecer una variable de JavaScript con el valor de loggedIn
        window.loggedIn = loggedIn;
    }
</script>
<script>
  window.onpopstate = function(event) {
      // Si el usuario ha iniciado sesión y el evento de retroceso se ha disparado,
      // mostrar un modal preguntando si desea cerrar la sesión
      if (window.loggedIn) {
          var shouldLogout = confirm("¿Desea cerrar sesión?");
          if (shouldLogout) {
              // Redirigir al usuario a la página de logout
              window.location.href = "/logout";
          }
      }
  }
</script>


</body>

</html>